.faq {
    margin-top: 0px;
}

.faq__list {
    background-color: #FFF;
    width: 752px;
    height: 139px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background: #FFF;
}

.list__2 {
    width: 752px;
    height: 305px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background: #FFF;
}