.footer {
    margin-top: 247px;
    border: 1px solid #EBEBEB;
    background: #F3F3F3;  
}

.footer__info {
    display: flex;
    align-items: center;
    gap: 123px;
}

.footer__div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// .footer__list {
//     display: flex;
//     flex-direction: column;
//     gap: 3px;
// }

// .footer__link {
//     max-width: 10px;
// }

.footer__div2 {
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.footer__link {
    color: #333;
    font-family: "Intel";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__item {
    max-width: 100px;
}

@media only screen and (max-width:1233px) {
        .footer__info {
            display: flex;
            flex-direction: column;
        }
}

@media only screen and (max-width:470px) {
    .footer__div {
        flex-direction: column;
    }

    .footer__div2 {
        flex-direction: column-reverse;
    }
}