.hero {
    padding: 0px;
    margin: 0px;
}

.hero__info {
    background: url(../img/fistbac.png) no-repeat;
    width: 1268px;
    height: 924px;
    background-size:contain;
}

.hero__info1 {
    padding-top: 100px;
    // text-align: center;
    margin-left: 600px;
}

.heading {
    max-width: 608px;
    width: 100%;
    color: #333;
    font-family: "Futura PT";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 

    & .hero__span {
        color: #78C0DE;
        font-family: "Futura PT";
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
    }
}

.hero__text {
    max-width: 525px;
    width: 100%;
    color: #949494;
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}

.hero__button {
    width: 181px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #333;
    border: none;

    color: #FFF;
    font-family: "Futura PT";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media only screen and (max-width:1290px) {
    .hero__info {
        max-width: 968px;
        height: 620px;
    }

    .hero__info1 {
        margin-left: 440px;
    }

    .heading {
        font-size: 56px;
        width: 480px;

        &  .hero__span {
        font-size: 50px;
      }
    }
}

@media only screen and (max-width:940px) {
    .hero__info {
        width: 750px;
    }

    .heading {
        font-size: 36px;
        width: 380px;

        & .hero__span {
            font-size: 36px;
        }
    }

    .hero__info1 {
        margin-left: 300px;
    }
}


@media only screen and ( max-width:770px ) {
    .hero__info {
        max-width: 450px;
    }

    .hero__text {
        font-size: 12px;
    }

    .hero__info1 {
        margin-left: 140px;
    }

    
    .heading {
        font-size: 26px;
        width: 280px;

        & .hero__span {
            font-size: 26px;
        }
    }

    .hero__text {
        font-size: 9px;
        width: 210px;
    }
}

@media only screen and (max-width:470px) {
    .hero__info {
        max-width: 280px;
    }

    .heading {
        font-size: 12px;
        width: 123px;

        & .hero__span {
            font-size: 12px;
        }
    }

    .hero__text {
        font-size: 6px;
        width: 100px;
    }

    .hero__info1 {
        margin-left: 140px;
        padding: 0px;
    }

    .hero__button {
        width: 81px;
        height: 20px;
    }
}

