.header {
  padding-top: 5px;
  background-color: #FFF;
  padding-bottom: 10px;
}

.header__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: end;
}

.header__li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  color: #333;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.text:hover {
  color: #FFBD54;
  transition: all 0.4s ease;
}
.text:focus {
  opacity: 0.5;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__heading {
  color: #333;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav__heading:hover {
  opacity: 0.8;
}
.nav__heading:focus {
  opacity: 0.5;
}

.header__info1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: #FFF;
  border: none;
}

.btn {
  background-color: #FFF;
  border: none;
  display: none;
}

.btn__menu {
  display: none;
}

.btn__exit {
  display: none;
}

@media only screen and (max-width: 1108px) {
  .header {
    padding-top: 20px;
  }
  .nav {
    display: none;
  }
  .btn {
    display: block;
  }
  .btn__menu {
    display: block;
  }
  .menu__exit {
    display: none;
  }
  .exit__menu {
    display: block;
  }
  .nav__blok {
    display: block;
    width: 50%;
    height: 80%;
    background-color: #FFBD54;
    top: 100px;
    right: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    padding-right: 30px;
    position: absolute;
    animation: navv 1s ease-in-out;
  }
  @keyframes navv {
    from {
      transform: translate(100%, 50px);
      opacity: 0;
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 950px) {
  .header__info {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .button1 {
    display: block;
    border: none;
    background-color: #FFF;
    border-radius: 4px;
  }
  .button {
    display: none;
  }
}
.container {
  width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.hero__h1 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.hero__text {
  width: 447px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.hero {
  transform: translate(20px, 100px);
}

.hero__img {
  transform: translate(0px, -100px);
}

@media only screen and (max-width: 768px) {
  .hero .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    order: 1;
    margin-bottom: 80px;
  }
  .hero__list {
    order: -1;
  }
}
.about__list {
  box-shadow: 0px 2px 30px 2px rgba(34, 60, 80, 0.2);
}

.about__list {
  width: 305.054px;
  height: 421.301px;
}

.about__item {
  transform: translate(20px, 50px);
}

.about__btn {
  width: 156px;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #000;
  transition: all 0.7s ease;
}
.about__btn:hover {
  background-color: #FFBD54;
}

.about__btn1 {
  background-color: #78C0DE;
}
.about__btn1:hover {
  background-color: #FFBD54;
}

.about__btn2 {
  background-color: #FFBD54;
}
.about__btn2:hover {
  background-color: #78C0DE;
}

.about__text {
  width: 229px;
  color: #949494;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

@media only screen and (max-width: 768px) {
  .about .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  margin-top: 100px;
  background: linear-gradient(0deg, #EBEBEB, #EBEBEB), linear-gradient(0deg, #F3F3F3, #F3F3F3);
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.footer__link {
  color: #333;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  display: grid;
  grid-template-columns: 1, 1fr;
}

.footer__lists {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */